//===============
//палитра цветов
//===============

$main-color: #E52E2E;

$black-color: #1F2024;
$white-color: #fff;

$bg-color: #F7F7F7;
$bg-2-color: #FAFAFA;

$txt-2-color: #5C5F66;
$txt-3-color: #828A99;

$sep-color: #E4E7EB;