%ic {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*='_icon-'] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-arrow:before {
  content: "\e900";
  color: #e62e2e;
}
._icon-badge-check:before {
  content: "\e901";
  color: #e62e2e;
}
._icon-box:before {
  content: "\e902";
  color: #fff;
}
._icon-calculator:before {
  content: "\e903";
  color: #fff;
}
._icon-calendar:before {
  content: "\e904";
  color: #e62e2e;
}
._icon-cart:before {
  content: "\e905";
  color: #e62e2e;
}
._icon-check-bold:before {
  content: "\e906";
  color: #fff;
}
._icon-chevron-down:before {
  content: "\e907";
  color: #e62e2e;
}
._icon-code:before {
  content: "\e908";
  color: #e62e2e;
}
._icon-device:before {
  content: "\e909";
  color: #e62e2e;
}
._icon-gmail:before {
  content: "\e90a";
  color: #e62e2e;
}
._icon-hearpods:before {
  content: "\e90b";
  color: #e62e2e;
}
._icon-image:before {
  content: "\e90c";
  color: #fff;
}
._icon-label:before {
  content: "\e90d";
  color: #e62e2e;
}
._icon-letter:before {
  content: "\e90e";
  color: #e62e2e;
}
._icon-log-in:before {
  content: "\e90f";
  color: #e62e2e;
}
._icon-map:before {
  content: "\e910";
  color: #e62e2e;
}
._icon-pdf:before {
  content: "\e911";
  color: #e62e2e;
}
._icon-phone:before {
  content: "\e912";
  color: #e62e2e;
}
._icon-play:before {
  content: "\e913";
  color: #fff;
}
._icon-qr:before {
  content: "\e914";
  color: #e62e2e;
}
._icon-quote:before {
  content: "\e915";
  color: #fff;
}
._icon-ruso:before {
  content: "\e916";
  color: #828a99;
}
._icon-scales:before {
  content: "\e917";
  color: #e62e2e;
}
._icon-search-more:before {
  content: "\e918";
  color: #fff;
}
._icon-statistic:before {
  content: "\e919";
  color: #fff;
}
._icon-statistic-2:before {
  content: "\e91a";
  color: #e62e2e;
}
._icon-statistic-3:before {
  content: "\e91b";
  color: #e62e2e;
}
._icon-store:before {
  content: "\e91c";
  color: #e62e2e;
}
._icon-telegram:before {
  content: "\e91d";
  color: #e62e2e;
}
._icon-viber:before {
  content: "\e91e";
  color: #e62e2e;
}
._icon-vk:before {
  content: "\e91f";
  color: #e62e2e;
}
._icon-web:before {
  content: "\e920";
  color: #fff;
}
._icon-whatsapp:before {
  content: "\e921";
  color: #e62e2e;
}
._icon-xmark-bold:before {
  content: "\e922";
  color: #fff;
}
._icon-youtube:before {
  content: "\e923";
  color: #e62e2e;
}
